<ng-container *ngIf="(song$ | async) as song">
  <app-song-card [duration]="song.duration">
    <ng-container title>
      <a mat-button color="warn">
        {{song.name | titlecase}}
      </a>
    </ng-container>
    <app-song-video [videoSizeBig]="true" video [videoUrl]="song.videoUrl">
    </app-song-video>
    <ng-container author>
      <p>{{song.description}}</p>
      <p>{{song.author | fullName}}</p>
    </ng-container>
    <ng-container info>
      <p>{{song.duration }}</p>
      <p>{{song.datePublished | formatDate}}</p>
    </ng-container>
  </app-song-card>
</ng-container>

<!-- spiner?-->