<ng-container *ngIf="(song$ | async) as song">
  <app-song-card [duration]="song.duration">
    <ng-container title>
      <a>
        {{song.name | titlecase}}
      </a>
    </ng-container>

    <ng-container author>
      <p>{{song.author | fullName}}</p>
    </ng-container>

    <app-song-video video [videoSizeBig]="true" [videoUrl]="song.videoUrl">
    </app-song-video>

    <ng-container info>
      <p class="description">{{song.description}}</p>
      <span>{{song.duration}}</span>
      <button mat-mini-fab color="accent"><mat-icon>access_time</mat-icon></button>
      <span>{{song.datePublished | formatDate}}</span>
      <button mat-mini-fab color='warn'><mat-icon>insert_invitation</mat-icon></button>
    </ng-container>
  </app-song-card>
</ng-container>

<!-- spiner?-->