<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label for="name">Name</mat-label>
    <input type="text" name="title" id="title" matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="videoUrl">VideoUrl</mat-label>
    <input type="text" matInput formControlName="videoUrl">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="description">Description</mat-label>
    <textarea matInput cols="10" rows="12" formControlName="description"></textarea>
  </mat-form-field>
  <ng-container formGroupName="duration">

    <mat-label for="minutes">Minutes</mat-label>
    <mat-slider formControlName="minutes" thumbLabel min="0" max="120"></mat-slider>

    <mat-label for="seconds">Seconds</mat-label>
    <mat-slider formControlName="seconds" thumbLabel min="0" max="60"></mat-slider>

  </ng-container>
  <ng-container formGroupName="author">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Author First Name</mat-label>
      <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Author Last Name</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>
  </ng-container>


  <button type="submit" [disabled]="songForm.invalid">Add</button>
</form>