@import "../../../../assets/styles/variables.scss";
:host {
  position: sticky;
  top: 0;
  z-index: 1;
  .mat-toolbar {
    background: $black;
    justify-content: space-between;
    border-bottom: 2px solid $light-gray;
  }
  .mat-stroked-button {
    width: 80px;
    font-size: 18px;
    margin: 0 8px;
  }
}
