<header>
  <mat-toolbar color="secondary">
    <span>{{title | uppercase}}</span>
    <nav *ngIf="navLinks">
      <a mat-stroked-button color="accent" [routerLink]="[navLinks[0].path]">{{navLinks[0].name}}</a>
      <a mat-stroked-button color="accent" *ngIf="admin" [routerLink]="[navLinks[1].path]">{{navLinks[1].name}}</a>
      <a mat-stroked-button color="accent" *ngIf="logged" [routerLink]="[navLinks[2].path]">{{navLinks[2].name}}</a>
      <a mat-stroked-button color="accent" *ngIf="logged" [routerLink]="[navLinks[3].path]">{{navLinks[3].name}}</a>
      <a mat-stroked-button color="accent" *ngIf="!logged" (click)="logout()">Logout</a>
    </nav>
  </mat-toolbar>
</header>